/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */


*, p{
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

:root {
  --bs-primary-rgb:214,51,132;
  --bs-link-colar:214,51,132;
  --bs-link-hover-color:rgb(214,51,132)
}
.social-icons a.social-icon {
  color: rgb(226, 37, 125); /* 初始颜色 */
  transition: color 0.3s ease; /* 添加过渡效果 */
}

.social-icons a.social-icon:hover {
  color: rgb(49, 219, 241); /* 悬停时的颜色 */
}


