/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

*, p{
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

:root {
  --bs-primary-rgb:214,51,132;
  --bs-link-colar:214,51,132;
  --bs-link-hover-color:rgb(214,51,132)
}
